<!-- -*- mode: XML -*- -->


<launch>
<!-- For Mid lidar -->

<group ns="mid">
  <node  name="rslidar_node" pkg="rslidar_driver" type="rslidar_node" output="screen" >
    <param name="model" value="RSBPEARL"/>
    <param name="device_ip" value="192.168.13.200" />
    <param name="msop_port" value="6702" />
    <param name="difop_port" value="7791"/>
    <param name="frame_id" value="mid"/>
    <!--param name="pcap" value="path_to_pcap"/-->
  </node>


  <node  name="cloud_node" pkg="rslidar_pointcloud" type="cloud_node" output="screen" >
    <param name="model" value="RSBPEARL"/>
    <param name="angle_path" value="(find rslidar_pointcloud)/data/rs_bpearl/angle.csv" />
    <param name="channel_path" value="$(find rslidar_pointcloud)/data/rs_bpearl/ChannelNum.csv" />
    <param name="output_points_topic" value="velodyne_points"/>
    <param name="max_distance" value="150"/>
    <param name="min_distance" value="0.1"/>
    <param name="resolution_type" value="0.5cm"/>
    <param name="intensity_mode" value="3"/>
  </node>
</group>

<group ns="back">
  <node  name="rslidar_node" pkg="rslidar_driver" type="rslidar_node" output="screen" >
    <param name="model" value="RSBPEARL"/>
    <param name="device_ip" value="192.168.12.200" />
    <param name="msop_port" value="6701" />
    <param name="difop_port" value="7790"/>
    <param name="frame_id" value="back"/>
    <!--param name="pcap" value="path_to_pcap"/-->
  </node>


  <node  name="cloud_node" pkg="rslidar_pointcloud" type="cloud_node" output="screen" >
    <param name="model" value="RSBPEARL"/>
    <param name="angle_path" value="(find rslidar_pointcloud)/data/rs_bpearl/angle.csv" />
    <param name="channel_path" value="$(find rslidar_pointcloud)/data/rs_bpearl/ChannelNum.csv" />
    <param name="output_points_topic" value="velodyne_points"/>
    <param name="max_distance" value="150"/>
    <param name="min_distance" value="0.1"/>
    <param name="resolution_type" value="0.5cm"/>
    <param name="intensity_mode" value="3"/>
  </node>
</group>

<group ns="left">
  <node  name="rslidar_node" pkg="rslidar_driver" type="rslidar_node" output="screen" >
    <param name="model" value="RSBPEARL"/>
    <param name="device_ip" value="192.168.11.200" />
    <param name="msop_port" value="6700" />
    <param name="difop_port" value="7789"/>
    <param name="frame_id" value="left"/>
    <!--param name="pcap" value="path_to_pcap"/-->
  </node>


  <node  name="cloud_node" pkg="rslidar_pointcloud" type="cloud_node" output="screen" >
    <param name="model" value="RSBPEARL"/>
    <param name="angle_path" value="(find rslidar_pointcloud)/data/rs_bpearl/angle.csv" />
    <param name="channel_path" value="$(find rslidar_pointcloud)/data/rs_bpearl/ChannelNum.csv" />
    <param name="output_points_topic" value="velodyne_points"/>
    <param name="max_distance" value="150"/>
    <param name="min_distance" value="0.1"/>
    <param name="resolution_type" value="0.5cm"/>
    <param name="intensity_mode" value="3"/>
  </node>
</group>

<group ns="right">
  <node  name="rslidar_node" pkg="rslidar_driver" type="rslidar_node" output="screen" >
    <param name="model" value="RSBPEARL"/>
    <param name="device_ip" value="192.168.10.200" />
    <param name="msop_port" value="6699" />
    <param name="difop_port" value="7788"/>
    <param name="frame_id" value="right"/>
    <!--param name="pcap" value="path_to_pcap"/-->
  </node>


  <node  name="cloud_node" pkg="rslidar_pointcloud" type="cloud_node" output="screen" >
    <param name="model" value="RSBPEARL"/>
    <param name="angle_path" value="(find rslidar_pointcloud)/data/rs_bpearl/angle.csv" />
    <param name="channel_path" value="$(find rslidar_pointcloud)/data/rs_bpearl/ChannelNum.csv" />
    <param name="output_points_topic" value="velodyne_points"/>
    <param name="max_distance" value="150"/>
    <param name="min_distance" value="0.1"/>
    <param name="resolution_type" value="0.5cm"/>
    <param name="intensity_mode" value="3"/>
  </node>
</group>
</launch>

